<footer class="page--footer">
  <div class="heart">
    <img src="assets/images/heart1.jpg" alt="">
  </div>
  <div class="with-love">
    Selen y Pedro.
  </div>
  <div class="copyright">
    This is ours and yours. 2018.
  </div>
</footer>

